.mainFrame .gnb{
    width : 100%;
    height : 56px;
    background-color: transparent;
    border-bottom: 1px solid black;

    position : fixed;
    top : 0px;
    left : 0px;
    z-index : 3;

    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 17px 0 43px;
}
.mainFrame .gnb .item {
    font-size: 18px;
    font-weight: bold;
    color : #191918;
}
.mainFrame .gnb .logo {
    font-size: 32px;
    color : white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainFrame .gnb .menu-hide {
    display: none;
}