.GNB2{
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width : 100%;
    height : 56px;
    position: fixed;
    top : 0px;

    padding-left : 43px;
    padding-right : 17px;
    background-color: #3dd429;
}


.GNB2 .gnb-item{
    font-size : 18px;
    font-weight: bold;
    color : #191918;
}

.GNB2 .logo{
    color:white;
    margin-right: 100px;

    font-size : 32px;
    font-weight : bold;
}