.mainFrame .content .item-text {
    width : 330px;
    margin-right : 117px;
}
.mainFrame .content .item-text .title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 18px;
}
.mainFrame .content .item-text .desc{
    font-size : 16px;
    line-height: 1.5;
}

/* ---------------------------------------------------- */
.mainFrame .content .item-title{
    margin-left : 100px;
}

.mainFrame .content .item-text .sub-title-line {
    width : 120px;
    margin-top : 90px;
    margin-bottom: 18px;
    position : relative;
    left : -15px;
}

/* ---------------------------------------------------- */
.mainFrame .content .item-entrance{
    width : 600px;
    margin-right: 103px;
}
.mainFrame .content .item-entrance .flex-row-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.mainFrame .content .item-entrance .thumbnail{
    width : 360px;
    /* image높이로 height 설정하기 */
    height : 485px;
    margin-right: 18px;
}
.mainFrame .content .item-entrance .info{
    display: block;
    width : 360px;
}
.mainFrame .content .item-entrance .info .title{
    font-size : 24px;
    font-weight: bold;
    margin-bottom: 3px;
}
.mainFrame .content .item-entrance .info .desc{
    font-size : 12px;
}

/* ---------------------------------------------------- */


.mainFrame .content .item-img{
    height : 600px;
    margin-right : 103px;
}
.mainFrame .content .item-img .detail-img{
    height : 100%;
}

/* ---------------------------------------------------- */
.mainFrame .level{
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    top : -60px;
    z-index : 1;
    
    color : white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainFrame .content .item-intro{
    margin-left: 30px;
    padding-top : 0px;
    padding-bottom : 100px;
    height: 100%;
}
.mainFrame .content .intro-img{
    height : 90%;
    vertical-align: middle;
}

.flex-vertical-wrapper {
    height : 100%;
    display: flex;
    align-items: center;
}