.mainFrame .navigation{
    width : 472px;
    height : 317px;
    z-index : 5;
    border: solid 2px;
    background-color: white;

    position: fixed;
    transition: bottom 0.5s ease-in-out;
    bottom : -268px;
    right : 21px;

    overflow: hidden;
}
.mainFrame .navShow{
    bottom : 35px;
    overflow: scroll;
}

.mainFrame .navigation .title{
    width: 100%;
    height : 31px;
    font-size : 13px;
    font-weight: bold;
    padding : 0 18px;
    
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainFrame .navigation .item{
    height : auto;
    padding : 14px 23px;
    border-top: 1px solid ;

    display : flex;
    flex-direction: row;
    align-items: center;
}
.mainFrame .navigation .item .floor{
    font-size: 18px;
    font-weight: 800;
    font-family: MurdenCF;
    margin-right : 22px;
}
.mainFrame .navigation .item .floor-info .name{
    font-size : 15px;
    font-weight: bold;
}
.mainFrame .navigation .item .floor-info .list{
    font-size : 13px;
}