#scroll-tester{
    position : fixed;
    z-index : 9;
    top : 0; left : 0;

    width : 400px;
    height : 300px;
    padding : 30px;

    background-color: rgba(0,0,0,0.5);
    color : #00ff00;
    border : solid lightgray 1px;
}